body{
	margin: 0;
	padding: 0;
	background: #ece9e9;
}
.top-bar{
	padding-top: 10px;
	height: 50px;
	width: 100%;
	background: black;
	

}
.phone-no{
	color: white;
	float: left;

}
.social-icon{
	
	float: right;
}

.social-icon ul{
	list-style: none;
	
}
.social-icon ul li{
	display: inline;
	padding-left: 20px;
	
}
.social-icon ul li a{
	color: white;
}
.navbar{

}
.ss{
	background-color:black;
	border-top: 1px solid gray;
	border-bottom: 2px solid gray;
	
	
}
 .nav-item{
 	width: 100px;
 }
 
.navbar-brand{
	padding-left: 100px;
	padding-right: 100px;
	

}
.hotel{
	background: white;
	margin: 5px;
	margin: auto;
	padding: 0;
	height: auto;

}

.hotel h2{
	font-size: 18px;
	color:orange;
	position: absolute;
	top: 200px;
	left: 40%;
	display: none;
	transform: all .5s ;
	
}

.hotel h1{
	font-size: 18px;
	color:orange;
	
}

.tags{
	

}
.lef{
	width: 70%;
	border-right:1px solid gray;

}
.lef ul{
	list-style: none;
	color: yellow;
	padding-left: 0;
}
.lef ul li{
	display: inline;
}
.rit{
	
	width:auto;

}
.clearfix {
    overflow: auto;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}
#demo{
	height: 400px;
	overflow: hidden;
	          /* where the next element will be automatically positioned */
           /* causes element width to shrink to fit content */
    left: 200%;                   /* moves left side of image/element to center of parent element */
    transform: translate(-200%);  /* centers image/element on "left: 50%" position */

}
.carousel-control-prev{
	padding-left: 20px;
}
.ssss{
	float: right;
}
.box{
	height: 100px;
	width: 100px;
	border-radius: 10px;
	border: 1px solid white;
	padding-left: 100px;
}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: green;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #707070;
}

.pm{
	padding: 20px;
}
.jaya{
	background-color: white;

}
.jaya image{
	max-width: 80%
}

.bg{
	background: black;
	height: 300px;
	width: 100%;
	margin-top: 50px;

}
.mor{
	width: 200px;
	height: 50px;
	border-radius: 5px;
	border: 1px solid white;
	background: red;
	padding-top: 10px;
	align-items: center;
}
.bg a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.footer-left{
	padding-left: 10%;
}